@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: url('./MyriadPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./MyriadPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: normal;
  src: url('./MyriadPro-It.otf') format('opentype');
}
